  .s20{
    font-size:20px
  }
  .s22{
    font-size:22px
  }
  .s24{
    font-size:24px
  }
  .color{
    color:#ffe45f;
  }
  .color1{
    color:#292b32;
  }
  .color2{
    color:#7f7f7f;
  }
  .bg{
     background-color:#ffe45f
  }
  .bg1{
    background-color:#ff6149
  }  
  .bg2{
    background-color:#ff920a
  }  
 